<!-- <script src="pagenation.js"></script> -->
<!-- <pagination items="data" items-per-page="10" on-page-change="onPageChange(pageItems)"></pagination> -->
<div ng-click="keyPresses($event, 0, 0)">
  <!-- <span style="cursor: pointer;" class="material-symbols-outlined" class="btn btn-primary" data-toggle="modal"
    data-target="#exampleModal">
    group
  </span> -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Grouping</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="custom-select-wrapper">
          <label for="exampleFormControlSelect2">Select Column</label>
          <select class="custom-select" ng-model="selectedValue" id="exampleFormControlSelect2">
            <!-- <option selected>Open this select menu</option> -->
            <option value="{{columns.field}}" ng-repeat="columns in column " ng-selected="columns === column[0]">
              {{columns.field}}
            </option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="getDataForGrouping()" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>



<div>
  <!-- <span
    class="material-symbols-outlined color-icon"
    class="btn btn-primary"
data-toggle="modal" data-target="#exampleModal"
  >
    format_color_fill
  </span> -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Column Color</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="custom-select-wrapper">
         <label for="exampleFormControlSelect2">Select Column</label>
          <select class="custom-select" ng-model="selectedValue" id="exampleFormControlSelect2">
          <!-- <option selected>Open this select menu</option> -->
          <option  value="{{columns.field}}" ng-repeat="columns in column " ng-selected="columns === column[0]">
            {{columns.field}}
          </option>
        </select>
       <div  >
  <input type="color" ng-model="myData">
  <!-- <button>Get Data</button> -->
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  ng-click="getData()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div>
    <br/><hr/>
    <div class="custom-select-wrapper">
      <label for="exampleFormControlSelect2">Sort</label>
      <select class="custom-select" ng-model="sortField" id="exampleFormControlSelect2">
        <option ng-repeat="col in column" value="{{col.field}}" ng-selected="col === SortColumn">{{col.field}}</option> 
      </select> 
      </select>
    </div>
    <table 
      id="mytable"
      class="table display styled-table"
      cellspacing="0"
      cellpadding="2"
    >
   
      <thead>
        <tr  class="dnd-moved">
          <th>
          <div style="display:flex; gap: 10px; ">
            <div style="align-items: center;">
              <input type="checkbox" ng-click="checkBoxchanges($event)"/>
            </div>
            <div style="margin-top: 3px;">
              <label for=""> checkbox</label>
            </div>
          </div>
         </th>
          <th  draggable="true"  class="columns" id="{{'columns'+$index}}" ng-repeat="columns in column track by $index" ng-class="{'sticky-column-head': columns.frozen}" ng-click="isHidden = freezeColumn($index,columns.field)">
            <div style="display: flex; justify-content: space-between;">
              <div style="display: flex;gap: 5px;">
                <span style="font-size: initial;" class="material-symbols-outlined">expand_circle_down</span>
                {{columns.field}}
              </div>
              <div ng-if="!isHidden">
                <span style="font-size: large;" class="material-symbols-outlined" >expand_more</span>
              </div>
              <div ng-if="isHidden">
                <span style="font-size: large;" class="material-symbols-outlined" >expand_less</span>
              </div>

            </div> 
          </th>
          <!-- <th>Update</th> -->
        </tr>
      </thead>
      <tbody >
        <tr  draggable="true" id="{{'rows'+i}}"
        ng-repeat="(i, item) in data| orderBy:sortField:reverse  track by $index" class="rows active-row dnd-moved">
          <td>
            <input type="checkbox" class="myCheck" ng-click="format(item,i, $event)"/>
          </td>
          <td ng-keyDown="keyPresses($event, i, j)"
            ng-dblclick="selectCols(i, j)"
            ng-repeat="(j, col) in column"  
            ng-class="{cellColor : col.type == 'number', 'sticky-column-body': col.frozen  }"
            ng-style="item[col.field] >=5 &&  col.type == 'number' && item[col.field] <=20 && {'background-color':'#f54225'} || item[col.field] <5 && col.type == 'number' && {'background-color':'#7bdaff'} || item[col.field] >20 && col.type == 'number' && {'background-color':'#84e784'} || col.field ==  selectedValue && myStyle"
            ng-if="!item.editable"
          >
            <p id="{{i+'-'+j}}">{{item[col.field]}}</p>
            <input id="{{i+'-'+j+'-index'}}" ng-style="{'display': 'none'}"
              ng-if="col.type === 'input'"
              type="text"
              ng-model="item[col.field]"
            />
          </td>
          <td 
            ng-repeat="col in column"
            ng-class="{cellColor : col.type == 'number'  }"
            ng-style="item[col.field] >=5 && item[col.field] <=20 && col.type == 'number' && {'background-color':'#f54225'} || item[col.field] <5 && col.type == 'number' && {'background-color':'#7bdaff'} || item[col.field] >20 && col.type == 'number' && {'background-color':'#84e784'}"
            ng-if="item.editable"
            ng-disabled="!col['editable']"
          >
            <input 
              ng-if="col.type === 'input'"
              type="text"
              ng-model="item[col.field]"
            />
            <select
              ng-if="col.type === 'select'"
              ng-model="item[col.field]"
              ng-options="x for x in col.dropdowndata"
            ></select>
            <input
              ng-if="col.type === 'date'"
              type="date"
              ng-model="item[col.field]"
            />
            <input
              ng-if="col.type === 'number'"
              type="number"
              ng-model="item[col.field]"
            />
          </td>

          <!-- <td>
            <button ng-click="editRow(item)">update</button>
          </td> -->
        </tr>
      </tbody>
      
    </table>
    <div data-pagination="" data-num-pages="numOfPages()" data-current-page="curPage" data-max-size="maxSize" data-boundary-links="true"></div>

   
  </div>
</div>

<!-- <script type="text/javascript">
    $(document).ready(function() {
        <span class="comment">// Initialise the table</span>
        $("#mytable").tableDnD();
    });
    </script> -->
<div id="dndgrid" style="margin: auto"></div>
<myDirective></myDirective>