.list-icon {
  visibility: hidden; /* Hide the icon by default */
            /* position: absolute; */
}
th:hover .icon {
  visibility: visible; /* Show the icon when hovering over the header cell */
}
th{
  border-right:1px solid;
  background-color: #e3e2e2;
  flex: 1;
}
table{
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #b3a2a2;
  padding: 8px;
  text-align: left;
}
body{
  margin: 20px;
}
  /* Style for popup dropdown container */
  .popup-container {
    display: none;
    position: absolute;
    /* top: 40px; */
    /* right: 0; */
    background-color: #fff;
    width: max-content;
    font-size: 14px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Style for popup dropdown items */
.popup-item {
  cursor: pointer;
    padding: 5px;
} 
.icon-wrap{
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  width: 50%;
  justify-content: space-around;
  margin: 10px;
}
.icon-size{
  font-size: 20px;
  cursor: pointer;
}
.icon-content{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  cursor: pointer;
}

.custom-select::after {
  content: '\f0d7';
  font-family: 'FontAwesome';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-select:focus {
  outline: none;
}

.custom-select option {
  background-color: #fff;
  color: #333;
  padding: 10px;
}

.custom-select option:hover {
  background-color: #f0f0f0;
}
.custom-dropdown .select2-results__option {
  height: 40px; /* Set the desired height for the options */
  line-height: 40px; /* Set the desired line-height for the options */
}

.sticky-column-head {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #009879;
  }
  .sticky-column-body {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #f0f0f0;
  }
  .my-table {
    table-layout: fixed;
    width: 100%;
  }
  
  .my-table th,
  .my-table td {
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  .my-table thead th {
    background-color: #dddddd;
  }
  
  .my-table tbody {
    display: block;
    max-height: 200px;
    overflow-y: scroll;
  }
  
  
  .arrow-icon {
    font-size: 24px;
    transition: transform 0.2s ease-in-out;
  }
  
  .arrow-icon--up {
    transform: rotate(180deg);
  }


 /* Style for popup dropdown items on hover */
 .popup-item:hover {
  background-color: #f2f2f2;
}

.popup {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  z-index: 1;
}
.popup.ng-show {
  display: block;
}

.popup.ng-hide {
  display: none;
}

.popup:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-bottom-color: black;
}

.popup:after {
  content: '';
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  border: 9px solid transparent;
  border-bottom-color: white;
}

.popup h1 {
  margin-top: 0;
}


.pagination{
  float: left;
  margin: 20px;
  display: flex;
  width: 30%;
}
.page-selection{
display: inline-block;
}
.page-size{
  margin: 2%;

}
.active{
  background-color: rgb(40, 40, 182);
  color: white;
}
.btn-pagination{
  text-decoration: none;

}
.btn-pagination-li{
  padding: 2px;
}



/* Style the navigation menu */
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #fcfcfc;
  height: 100vh;
  overflow-y: auto;
}

nav select {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: none;
  appearance: none;
}

/* Style the open button */
#openNav {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}

/* Style the side navigation menu */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  right: -250px;
  background-color: #f1f7f7;
  padding-top: 60px;
  transition: all 0.3s ease;
}

.sidenav select {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  color: #9b0606;
  background-color: transparent;
  border: none;
  appearance: none;
  margin-bottom: 10px;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Show the side navigation menu when the open button is clicked */
.show-nav {
  left: 0;
}

/* table{
  width: 100%;
  border-collapse: collapse;
}

.side-nav {
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: #f1f1f1;
  transition: left 0.3s ease-in-out;
}

.side-nav--open {
  left: 0;
}
.side-nav--close{
  width: 0;
}

.sidenavv{
  background-color: #9b0606;
}

.grid-view{
  display: grid;  
  grid-auto-flow: column;
  grid-template-columns: 10%;
} */



/* Style the navigation menu */
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #fcfcfc;
  height: 100vh;
  overflow-y: auto;
}

nav select {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: none;
  appearance: none;
}

/* Style the open button */
#openNav {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}

/* Style the side navigation menu */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  right: -250px;
  background-color: #f1f7f7;
  padding-top: 60px;
  transition: all 0.3s ease;
}

.sidenav select {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  color: #9b0606;
  background-color: transparent;
  border: none;
  appearance: none;
  margin-bottom: 10px;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Show the side navigation menu when the open button is clicked */
.show-nav {
  left: 0;
}
.tab-icon{
  display: flex;
  width: 100%;
  gap: 1%;
}
.tab-icon span{
  width: 49%;
  background-color: #dcd9d9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 35px;
  margin: auto;
}

/* table{
  width: 100%;
  border-collapse: collapse;
}

.side-nav {
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: #f1f1f1;
  transition: left 0.3s ease-in-out;
}

.side-nav--open {
  left: 0;
}
.side-nav--close{
  width: 0;
}

.sidenavv{
  background-color: #9b0606;
}

.grid-view{
  display: grid;  
  grid-auto-flow: column;
  grid-template-columns: 10%;
} */