<div class="icon-wrap">
  <div class="icon-content">
   
      <span ng-click="toggleSidenav()" class="material-symbols-outlined icon-size">
        menu
        </span> Views
   
  </div>
  <div class="icon-content second-icon">
   
    <span class="material-symbols-outlined icon-size" style="color: rgb(31 127 247);">
      table
      </span>
        <span>
          {{groupValue}}
        </span>
   
    <span class="material-symbols-outlined icon-size">
      groups_2
    </span>
      <span class="material-symbols-outlined icon-size">
        keyboard_arrow_down
        </span>
   
  </div>
  <div class="icon-content">
    <span class="material-symbols-outlined icon-size">
      visibility_off
      </span> {{}} Hidden fields
  </div>

  <div class="icon-content">
      <span class="material-symbols-outlined icon-size" data-target="#filterModal" data-toggle="modal">
        filter_list
      </span>
   
    <span style="text-align: center;"  >Filter</span>
  </div>
  <div class="icon-content">
    <span class="material-symbols-outlined icon-size">
      featured_play_list
      </span> Group
  </div>
  <!-- Sort -->
  <button ng-click="showSortPopup($event)">
    <div class="icon-content">
      
      <span class="material-symbols-outlined icon-size" >
        swap_vert
        </span> Sort  
        
    </div>
</button> 
<div class="popup" ng-show="sortPopupVisible" ng-style="popupPosition">
  <h4>Sort Options</h4>
  <ul>
    <li ></li>
  </ul>
  <button ng-click="addSort()">+ Add Sort</button>
  <select class="custom-select" ng-model="sortField" id="exampleFormControlSelect2" placeholder="+ Add Sort">
    <option ng-repeat="col in column" value="{{col.field}}" ng-selected="col === SortColumn">{{col.field}}</option> 
  </select> 
   <!-- <br/><hr/> -->
    <!-- <div class="custom-select-wrapper">
      <label for="exampleFormControlSelect2">Sort</label>
      <select class="custom-select" ng-model="sortField" id="exampleFormControlSelect2">
        <option ng-repeat="col in column" value="{{col.field}}" ng-selected="col === SortColumn">{{col.field}}</option> 
      </select> 
      </select>
    </div> -->
  <button ng-click="hideSortPopup()">Close Popup</button>
</div>


<div class="icon-content">
  <span class="material-symbols-outlined icon-size">
    format_color_fill
    </span> Color
</div>
  <div class="icon-content">
    <span class="material-symbols-outlined icon-size">
      grading
      </span>
  </div>
  <div class="icon-content">
    <span class="material-symbols-outlined icon-size">
      share_windows
      </span> Share view
  </div>
</div>


<!-- <script src="pagenation.js"></script> -->
<!-- <pagination items="data" items-per-page="10" on-page-change="onPageChange(pageItems)"></pagination> -->
<div ng-if="true" ng-click="keyPresses($event, 0, 0)">
  <!-- <span style="cursor: pointer;" class="material-symbols-outlined" class="btn btn-primary" data-toggle="modal"
    data-target="#exampleModal">
    group
  </span> -->
  <!-- Modal -->
  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">In this view, show records</h4>
        </div>
        <div class="tab-icon" >
         <span >Filter</span>
         <span >column</span>
        </div>
        <div class="modal-body">
          <form >
            <!-- Display existing formArray fields -->
            <div ng-repeat="field in myForm.myFields" class="filterArray">
              <select ng-model="field.condition" ng-options="item for item in conditionDropdownItems">
                <option value="">Select an option</option>
              </select>
              <select ng-model="field.columnName" ng-options="item.field for item in column">
                <option value="">Select an option</option>
              </select>
              <select ng-model="field.expression" ng-options="item for item in expressionDropdownItems">
                <option value="">Select an option</option>
              </select>
              
              <input type="text" ng-model="field.value">
              
              <button class="btn icon" ng-click="removeField($index)"><span class="material-symbols-outlined filter-box-icon">
                delete
                </span></button>
            </div>
          
            <!-- Add new formArray field -->
            <button class=" btn icon" ng-click="addField()"><span class="material-symbols-outlined filter-box-icon">
              add
              </span></button>
          
            <!-- Submit form data -->
            <!-- <button ng-click="submitForm()">Submit</button> -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="filterTable()"> Filter</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Grouping</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="custom-select-wrapper">
          <label for="exampleFormControlSelect2">Select Column</label>
          <select class="custom-select" ng-model="selectedValue" id="exampleFormControlSelect2">
            <!-- <option selected>Open this select menu</option> -->
            <option value="{{columns.field}}" ng-repeat="columns in column " ng-selected="columns === column[0]">
              {{columns.field}}
            </option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="getDataForGrouping()" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>



<div ng-if="false">
  <!-- <span
    class="material-symbols-outlined color-icon"
    class="btn btn-primary"
data-toggle="modal" data-target="#exampleModal"
  >
    format_color_fill
  </span> -->
<!-- Modal -->
<div ng-if="false" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Column Color</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="custom-select-wrapper">
         <label for="exampleFormControlSelect2">Select Column</label>
          <select class="custom-select" ng-model="selectedValue" id="exampleFormControlSelect2">
          <!-- <option selected>Open this select menu</option> -->
          <option  value="{{columns.field}}" ng-repeat="columns in column " ng-selected="columns === column[0]">
            {{columns.field}}
          </option>
        </select>
       <div  >
  <input type="color" ng-model="myData">
  <!-- <button>Get Data</button> -->
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  ng-click="getData()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div>

      <table 
        id="mytable"
        class="table display styled-table"
        cellspacing="0"
        cellpadding="2"
        ng-table="tableParams"
      >
    
        <thead>
          <tr  class="dnd-moved">
            <th ng-if="toggleFirstColumn" class="sticky-column-head">
              MyViews
            </th>
            <th>
            

            <div style="display:flex; gap: 10px; align-items: center; ">
              <!-- <div style="align-items: center;di="> -->
                <input type="checkbox" style="margin: 0;" ng-click="checkBoxchanges($event)"/>
                <label for="" style="margin: 0;"> checkbox</label>
              </div>
              <div ng-click="isHidden = sortBy(columns.field)">
                <div style="display: flex;align-items: center;" ng-if="!isHidden">
                  <span style="font-size: large;" class="material-symbols-outlined">expand_more</span>
                </div>
                <div style="display: flex;align-items: center;" ng-if="isHidden">
                  <span style="font-size: large;" class="material-symbols-outlined" >expand_less</span>
                </div>
              </div>
              

            </div> 

              <!-- <div style="margin-top: 3px;">
              </div> -->
            <!-- </div> -->

          </th>
            <th  draggable="true" class="columns" id="{{'columns'+$index}}" ng-repeat="columns in column track by $index" ng-class="{'sticky-column-head': columns.frozen}" ng-click="freezeColumn($index,columns.field)">
              <div style="display: flex;padding: 0 20px; position: relative;justify-content: space-around;">
                <div style="display: flex;gap: 20px;align-items: center;position: relative;">
  
                  <span style="font-size: initial;" class="material-symbols-outlined">expand_circle_down</span>
                  {{columns.field}} 
                  <div style="position: relative;">
  
                    <span class="icon material-symbols-outlined list-icon" ng-click="togglePopup($index)">
                      menu
                      </span>
                                        <!-- Popup dropdown container -->
                        <div id="popup-{{$index}}" class="popup-container">
                          <!-- Popup dropdown items -->
                          <div class="popup-item" ng-repeat="option in moreOptions" ng-click="closePopup($index);openColorPicker(option,$index)" >{{option}}</div>
                      </div>
                  </div>
                </div>
                <div style="display: flex;align-items: center;"  ng-if="!isHidden">
                  <span style="font-size: large;" class="material-symbols-outlined">expand_more</span>
                </div>
                <div ng-if="isHidden">
                  <span style="font-size: large;" class="material-symbols-outlined" >expand_less</span>
                </div>
  
              </div> 
            </th>
            <!-- <th>Update</th> -->
          </tr>
        </thead>
        <tbody >
          <tr  draggable="true" id="{{'rows'+i}}"
          ng-repeat="(i, item) in tableData | orderBy:sortField:reverse  track by $index" class="rows active-row dnd-moved">
          
          <td ng-if="toggleFirstColumn && i === 0" class="sticky-column-body my-select-td" style="border: none;" rowspan="20">
            <div>
              <input type="search" placeholder="Search"> 
            </div>
            <div class="view-title">

              <span class="material-symbols-outlined" ng-click="viewlistFunc()">
                {{expandIcon}}
                </span>My Views
            </div>
            <div ng-if="viewIcon">
              <ul ng-repeat="data in listData" class="list-data">
                <li class="view-value" ng-click="getListValue($event)">{{data}}</li>
              </ul>
            </div>
          </td> 
          <td ng-if="toggleFirstColumn && i > 19" class="sticky-column-body my-select-td" style="border: none;">
            
          </td>  
          <td>
            <input type="checkbox" class="myCheck" ng-click="format(item,i, $event)"/>
          </td>
          <td  
          ng-keyDown="keyPresses($event, i, j)"
            ng-dblclick="selectCols(i, j)"
            ng-repeat="(j, col) in column"  
            ng-class="{cellColor : col.type == 'number', 'sticky-column-body': col.frozen  }"
            ng-style="item[col.field] >=5 &&  col.type == 'number' && item[col.field] <=20 && {'background-color':'#f54225'} || item[col.field] <5 && col.type == 'number' && {'background-color':'#7bdaff'} || item[col.field] >20 && col.type == 'number' && {'background-color':'#84e784'} || col.field ==  selectedValue && myStyle "
            ng-if="!item.editable"
          >
            <p id="{{i+'-'+j}}">{{item[col.field]}}</p>
            <input id="{{i+'-'+j+'-index'}}" ng-style="{'display': 'none'}"
              ng-if="(col.type === 'input' || col.type === 'email')"
              type="{{col.dataType ? col.dataType : 'text'}}"
              ng-model="item[col.field]"
            />
            <select
              ng-if="col.type === 'select'"
              ng-model="item[col.field]"
              ng-options="x for x in col.dropdowndata"
            ></select>
          </td>
          <td 
            ng-repeat="col in column"
            ng-class="{cellColor : col.type == 'number'  }"
            ng-style="item[col.field] >=5 && item[col.field] <=20 && col.type == 'number' && {'background-color':'#f54225'} || item[col.field] <5 && col.type == 'number' && {'background-color':'#7bdaff'} || item[col.field] >20 && col.type == 'number' && {'background-color':'#84e784'}"
            ng-if="item.editable"
            ng-disabled="!col['editable']"
          >
            <input 
              ng-if="col.type === 'input'"
              type="text"
              ng-model="item[col.field]"
            />
            <select
              ng-if="col.type === 'select'"
              ng-model="item[col.field]"
              ng-options="x for x in col.dropdowndata"
            ></select>
            <input
              ng-if="col.type === 'date'"
              type="date"
              ng-model="new Date(item[col.field])"
            />
            <input
              ng-if="col.type === 'number'"
              type="number"
              ng-model="item[col.field]"
            />
          </td>

          <!-- <td>
            <button ng-click="editRow(item)">update</button>
          </td> -->
        </tr>
      </tbody>
      
    </table>
    <!-- <div data-pagination="" data-num-pages="numOfPages()" data-current-page="curPage" data-max-size="maxSize" data-boundary-links="true"></div> -->
    <!-- Pagination UI markup -->
    <!-- Pagination UI markup with select field and next/previous buttons -->
<div class="pagination" style="display: flex;">
  <div class="page-size">
    <label>Page</label>
    <select ng-model="itemsPerPage" ng-change="updateItemsPerPage()">
      <option value="5" selected>5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>
    <div class="page-selection">
      <ul class="pagination-list" style="display: flex; list-style: none;">
        <li ng-class="{disabled: curPage === 1}" class="btn-pagination-li">
          <a class="btn-pagination" href="#" ng-click="prevPage()">Previous</a>
        </li>
        <div ng-class="{disabled: curPage === numOfPages()}" ng-repeat="i in generateArray(numOfPages()) track by $index" ng-if="$index >= curPage - 3 && $index <= curPage + 1">
          <li class="btn-pagination-li">
          <button class="pagination-btn" ng-click="gotopage(i)" ng-class="{active: i===curPage}">{{i}}</button>
          </li>
          
        </div>
        <li ng-class="{disabled: curPage === 1}" class="btn-pagination-li">
          <a  class="btn-pagination" href="#" ng-click="nextPage()">Next</a>
        </li>
      </ul>
    </div>
    
  </div>

</div>


   
  </div>
</div>

<!-- <div id="mySidenav" class="sidenav">
  <a href="#" class="closebtn">&times;</a>
  <select id="navSelect2">
    <option value="#home">Home</option>
    <option value="#about">About</option>
    <option value="#contact">Contact</option>
  </select>
</div> -->


<!-- <script type="text/javascript">
    $(document).ready(function() {
        <span class="comment">// Initialise the table</span>
        $("#mytable").tableDnD();
    });
    </script> -->
<!-- <div ng-if="false" id="dndgrid" style="margin: auto"></div> -->
<!-- <myDirective></myDirective> -->
<!-- <table ng-if="true">
  <tr>
    <th>Parent Name</th>
    <th>age</th>
  </tr>
  
  <tbody ng-repeat="parent in parents"> 
    <tr>
    <td>{{parent.name}}</td>
    <td>{{parent.age}}</td>
    <div  ng-include="'nested-tables.html'"></div>
  </tr>
  
</tbody>
</table> -->